extends base

block content 
    .row
        .col-sm-3
            p.card-text(style='visibility:hidden' id = "gameIdValue")= game.id
            .card.reviewPage(style="width: 18rem;")
                img.card-img-top(src= game.background_image alt="Card image cap" id = "gameImageSrc")
                .card-body.gamePage
                    h5.card-title(id = "gameTitleValue")= game.name 
                    p.card-text= game.released
                    if(game.genres.length > 1)
                        p Genre: #{game.genres[0].name}, #{game.genres[1].name}
                    else
                        p Genre: #{game.genres[0].name}
                    if(game.parent_platforms.length == 2)
                        p(style="margin-bottom:none") Platforms: #{game.parent_platforms[0].platform.name}, #{game.parent_platforms[1].platform.name}
                    if(game.parent_platforms.length == 3)
                        p(style="margin-bottom:none") Platforms: #{game.parent_platforms[0].platform.name}, #{game.parent_platforms[1].platform.name}, #{game.parent_platforms[2].platform.name}
                    if(game.parent_platforms.length == 1)
                        p(style="margin-bottom:none") Platforms: #{game.parent_platforms[0].platform.name}
                    if(game.parent_platforms.length == 4)
                        p(style="margin-bottom:none") Platforms: #{game.parent_platforms[0].platform.name}, #{game.parent_platforms[1].platform.name}, #{game.parent_platforms[2].platform.name}, #{game.parent_platforms[3].platform.name}
                    p Developer: #{game.developers[0].name}
        .col-sm-9
            form.reviewForm
                
                .row
                    .col-md-6
                        .form-group.summaryInput
                            label Briefly summarize your thoughts on this game
                            textarea( id="review-summary" rows="6" cols="60" maxlength="800" required)
                        .form-group.reviewHeading
                            label Overall Opinion 
                                select(id="rHeaders")
                                    option(value="Masterpiece") Masterpiece
                                    option(value="Must Play!") Must Play!
                                    option(value="Great") Great
                                    option(value="Good") Good
                                    option(value="Wait for Sale") Wait for Sale
                                    option(value="Wait for Bug Fixes") Wait for Bug Fixes
                                    option(value="Average") Average
                                    option(value="Mediocre") Mediocre
                                    option(value="Bad") Bad
                                    option(value="Terrible") Terrible
                                    option(value="Do Not Play!") Do Not Play!
                        .form-group.scoreInput
                            figure
                                img(src="/images/icons8-stopwatch-64.png")
                                figcaption Playtime
                                input.numInputPlaytime(id="playtimeInput" type="number" min ="1" required)

                        .form-group.scoreInput
                            figure
                                img(src="/images/icons8-game-controller-64.png")
                                figcaption Gameplay
                                input.numInput(type="number" id = "gameplayScoreInput" min="1" max="10" required)


                        .form-group.scoreInput
                            figure
                                img(src="/images/icons8-activity-history-64.png")
                                figcaption Story
                                input.numInput(type="number" id = "storyScoreInput" min="1" max="10")

                        .form-group.scoreInput2
                            figure
                                img(src="/images/icons8-picture-64.png")
                                figcaption Visuals
                                input.numInput(type="number" id = "graphicsScoreInput" min="1" max="10" required)


                        .form-group.scoreInput2
                            figure
                                img(src="/images/icons8-sound-64.png")
                                figcaption Audio/Music
                                input.numInput(type="number" id = "audioScoreInput" min="1" max="10")


                        .form-group.scoreInput2
                            figure
                                img(src="/images/icons8-graph-64.png")
                                figcaption Performance
                                input.numInput(type="number" id = "performanceScoreInput" min="1" max="10" required)

                        .form-group
                            button.btnPublishReview(style="margin-bottom:none" onclick="window.location.reload = '/reviews';" type="submit" class="btn btn-primary") Publish Review

                    .col-md-6
                        h4(style = "text-align:left;") Playtime 
                        p(style = "text-align:left;") Enter the total amount of time you played the game for
                        h4(style = "text-align:left;") Gameplay 
                        p(style = "text-align:left;") Score how much you enjoyed playing the game based on design and fun
                        h4(style = "text-align:left;") Story 
                        p(style = "text-align:left;") Score how much you enjoyed the game's storyline(Optional)
                        h4(style = "text-align:left;") Visuals 
                        p(style = "text-align:left;") Score the game based on it graphics and artsyle
                        h4(style = "text-align:left;") Audio/Music 
                        p(style = "text-align:left;") Score the game based on its audio design and soundtrack(Optional)
                        h4(style = "text-align:left;") Performance 
                        p(style = "text-align:left;") Score the game based on how smoothly it runs, and whether or not there were bugs that impacted the experience
                    
                    







