extends base

block content 
    h1.mainHeader Most Popular Games of 2021
    .card-container      
        .row
            each game in games
                .col-sm-3
                    .card
                        img.card-img-top(src= game.background_image alt="Card image cap")
                        .card-body
                            h5.card-title(style= "margin:0px;")= game.name 
                            p.card-text(style= "margin:0px;") Released #{game.released}
                            if(game.genres.length > 1)
                                p(style= "margin-top:2px; font-weight:bold;").card-text #{game.genres[0].name}, #{game.genres[1].name}
                            else
                                p(style= "margin:0px; font-weight:bold;") #{game.genres[0].name}


                            a(href= 'game/' + game.id class="stretched-link") 